<div class="container">

  <%= react_component("Articles/ArticlesHeader", {title: "Demonic Tails", 
  subtitle: "Has your cat been possessed?",
  link: root_path}) %>

  <%= react_component("Articles/ArticlesList", 
  articles: @articles,
  currentUser: current_user) %>

</div>
