<div class="container">

    <%= react_component("Articles/ArticlesHeader", {title: "Demonic Tails", 
    subtitle: "Has your cat been possessed?",
    link:root_path}) %>

    <div class="outer-article-container">

        <%= react_component("Article/FullArticle", {
            title:@article.title,
            content:@article.content,
            first_name:@article.user.first_name,
            last_name:@article.user.last_name,
            created_at:@article.created_at.strftime("%d %B %Y")
        }) %>

        <div class="articles-aside">
            <%= link_to "View All Articles", articles_path %>
        </div>

    </div>

</div>
