<div class="container">

    <%= react_component("Articles/ArticlesHeader", {title: "Demonic Tails", 
    subtitle: "Has your cat been possessed?",
    link:root_path}) %>

    <div class="outer-article-container">

        <%= react_component("Articles/ArticlesDetails", {
            title:@article.title,
            content:@article.content,
            firstName:@article.user.first_name,
            lastName:@article.user.last_name,
            created_at:@article.created_at.strftime("%d %B %Y"),
            link:articles_path,
            linkText:"View All Articles"
        }) %>      

    </div>
</div>
