<head>
  <link href="https://fonts.googleapis.com/css?family=Kosugi|Odibee+Sans&display=swap" rel="stylesheet">
</head>

<body>
<div class="main">
  <div class="container">
    <h1>Demonic Cats</h1>
    <p>And the people that love them.</p>
    <%= link_to "Register", '/signup' %>
  </div>
</div>
</body>